<td class='table_nr'>
  <div>
    Stół: <%= table %>
  </div>
  <div class='add-results'>
    <a href="#"><i class="icon-plus"></i> Dodaj wynik</a>
  </div>
</td>
<td class='players'>
  <div class='player'>
    <% if(player1_name) { %>
      <%= player1_name %>
    <% } else {  %>
      pauza
    <% } %>
  </div>
  <div class='player'>
    <% if(player2_name) { %>
      <%= player2_name %>
    <% } else {  %>
      pauza
    <% } %>
  </div>
</td>
