<td class='table_nr'><%= id %></td>
<td class='players'>
  <div class='player'>
    <% if(player1_name) { %>
      <%= player1_name %>
    <% } else {  %>
      pauza
    <% } %>
  </div>
  <div class='player'>
    <% if(player2_name) { %>
      <%= player2_name %>
    <% } else {  %>
      pauza
    <% } %>
  </div>
</td>
