<table class="table table-bordered">
  <thead>
    <tr>
      <header>Drużyny 
      <i class="icon-minus toggle-list"> (zwiń listę)</i>
      </header>
    </tr>
    <tr>
      <th style='border-top:none'>Nawza drużyny</th>
      <th style='border-top:none' class='player-army'>Akcja</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
