<table class="table table-bordered">
  <thead>
    <tr>
      <header>Gracze 
      <i class="icon-minus toggle-list"> (zwiń listę)</i>
      </header>
    </tr>
    <tr>
      <th>Imię i nazwisko</th>
      <th class='player-army'>Armia</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
