<table class="table table-bordered">
  <thead>
    <tr>
      Gracze
    </tr>
    <tr>
      <th>Imię i nazwisko</th>
      <th class='player-army'>Armia</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
