<table class="table table-bordered">
  <thead>
    <header>
      Wyniki
    </header>
    <tr>
      <th>Gracz</th>
      <th class='player-games'>Bitwy</th>
      <th class='player-victory-points'>VP</th>
      <th class='player-points'>DP</th>
      <th class='player-extras'>Punkty dodatkowe</th>
      <th class='player-extras'>Punkty karne</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
  <div>
    <label class='toggle-extra-points' ><input type='checkbox' name='checkbox' /> Uwzględnij punkty dodatkowe</label>
  </div>
</table>
