<table class='table table-bordered play-tournament'>
  <tr>
    <th><%= name %>, turniej klasy: <%= rank %></th>
  </tr>
  <tr>
    <th>Bieżąca runda <%= current_round %></th>
  </tr>
  <tr class='play-start'>
    <% if(current_round == 0){ %>
      <th><button class='generate-pairings'>Rozpocznij turniej</button></th>
    <% } else { %>
      <th><button class='generate-new-round'>Wygeneruj rundę</button></th>
    <% } %>
  </tr>
</table>
