.import
  =form_tag import_admin_players_path, :multipart => true do
    %label{:for => "file"} Plik z graczami
    =file_field_tag 'file', :accept => 'text/txt'
    %br
    =submit_tag 'Importuj'
%table.table.table-bordered.tablesorter
  %thead
    %tr
      %th
        Lp.
      %th
        Id ligowe
      %th
        Gracz
      %th
        Miasto
      %th
        Liczba turnieji
      %th
        Mastery
      %th
        Czelendżery
      %th
        Lokalne
      %th 
        Punkty
      %th
        Akcje
    %tbody
      =render @players


  
