<table class='table table-stripped table-bordered'>
  <thead>
    <th>Miejsce</th>
    <th>Gracz</th>
    <th>Punkty</th>
    <th>Turnieje</th>
    <th>Mastery</th>
    <th>Czelendżery</th>
    <th>Lokale</th>
    <th>Ligi</th>
  <thead>
  <tbody>
    <% @places.each do |p| %>
      <tr>
       <td>p.place</td>
       <td>p.player.full_name</td>
       <td>p.total_points</td>
       <td>p.total_tournaments</td>
       <td>p.masters_count</td>
       <td>p.challengers_count</td>
       <td>p.locals_count</td>
       <td>p.leagues_count</td>
      </tr>
    <% end %>
  </tbody>

</table>
