%tr
  %td
    =result_counter + 1
  -if result.class.name == 'TournamentRegistration'
    %td
      =result.player.full_name
    %td
      =result.army
  -else
    %td
      =result.name
    %td
      =result.armies
  %td
    =result.current_victory_points
  %td
    =result.current_points
  %td
    =result.final_points
  %td
    =result.extra_points
  %td
    =result.penalty_points
  %td
    =rank_points(@tournament, result)
