=form_for @tournament do |f|
  -@tournament.errors.full_messages.each do |msg|
    %li= msg 
  %p
    =f.label 'Nazwa'
    =f.text_field :name
  %p
    =f.label 'Typ'
    =f.select :rank, options_for_select(Tournament::TournamentRanks)
  %p
    =f.label 'Ilość rund'
    =f.text_field :number_of_rounds
  %p
    =f.label 'Data rozpoczęcia'
    =f.text_field :start_date, class: "datepicker"
  %p
    =f.label 'Miasto'
    =f.text_field :city
  %p
    =f.submit 'Utwórz turniej', :class => 'btn'
