%h2= "#{@tournament.name} - wyniki"
-if owner_or_admin?
  %p.generate_csv
    %button
      =link_to 'Wygeneruj plik csv do rankingu', results_tournament_path(@tournament, :format => 'csv')
%table.table.table-bordered.tablesorter
  %thead
    %tr
      %th
        Miejsce
      %th
        Gracz  
      %th
        Armia
      %th
        VP
      %th
        Suma bitwy
      %th
        Suma pkt.
      %th
        Pkt. dodatkowe
      %th
        Pkt. karne
      %th
        Pkt. rankingowe
  %tbody
    =render :partial => 'result', :collection => @results
