.span4
  <iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fdmp.wh40k&amp;width=220&amp;height=590&amp;colorscheme=dark&amp;show_faces=true&amp;border_color=%23CCC&amp;stream=true&amp;header=true" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:220px; height:590px;margin-left:-60px;background:#333" allowTransparency="false"></iframe>
