%h3
  Regulamin konkursu malarskiego
.body
  %h4
    Aby zgłosić swoje prace do tego konkursu, musicie pamiętać o następujących sprawach: 
  %ul
    %li
      Modele muszą być w całości pomalowane (jak najładniej !!!)
    %li
      Zgłaszać można tylko modele zwiazane z tematyka Warhammer 40k.
    %li
      Jedna osoba może zgłosić najwyżej jeden model do każdej z kategorii.
    %li
      Zgłaszamy malarza, a nie właściciela figurki (wykryte oszustwo dyskwalifikuje model z konkursu)
  %p
    Po zgłoszeniu swojej pracy otrzymacie kwitek. Pilnujcie tych kwitków dobrze, bo to jedyny dowód na to, iż dany model jest Waszą własnością !!! Prace będą zwracane tylko na podstawie tych kwitów i tylko tym, którzy je okażą.
  %h4
    Kategorię pracy wyznaczają sędziowie przyjmujący zgłoszenie. 
  %p
    %h4
      Sędziowie mogą nie przyjąć pracy, jeśli nie spełnia ona wymagań konkursu.
  %p
    %h4.label.label-info
      Kategorie
    Tematyka Warhammer 40k oraz zaliczają się także modele z systemów: Necromunda, Gorka Morka, Inquisitor. 
    %ul
      %li
        %span.label.label-info
          Pojedynczy model 
        – wszystkie pojedyncze modele. Maksymalny rozmiar podstawki to nowa, duża podstawka do terminatorów, oraz podstawka do bike'a. Bike zaliczany jest do tej kategorii.
      %li
        %span.label.label-info
          Squad 
        – squad (gang) złożony według normalnych zasad do danego systemu.
      %li
        %span.label.label-info
          Pojazd – 
        dowolny pojazd (także dreadnaught, sentinel, itp.)
      %li
        %span.label.label-info
          Potwór 
        – wszystko, co większe, a nie jest pojazdem. Do tej kategorii należą także modele z Inqusitora.
  %h4
    Dla zwycięzcy w poszczególnych kategoriach przewidziana nagroda
