%h2
  Regulamin
.body
  %h3.info 
    1. Informacje ogólne
  %div.hide
    %p
      Miejscówka: Mediateka, ul. Szegedyńska 13A
      Wejściówka: 225pln team (45 pln od osoby)
      Termin: 21-22.04.2012
      Limit drużyn: 30
      a) 25 teamow z polski
      b) 5 teamow zzagranicy
      Zapisy beda na podstawie kolejnosci zgloszen i wplacie przedplaty do 31.03.2012 Po tym terminie podzial 25/5 przestaja obowiązywać i kolejne teamy wchodza z listy rezerwowej.
      Przedplata: 75pln za team – bezzwrotna po 31.03.2012
    %p
      Sędzią głównym turnieju jest: Do dogadania
      Sędziami liniowym turnieju są: MarcinB, Czajnik, Wilku
      Gramy 5 bitew na 1850 pt
      Czas jednej gry: 3:15 nd
  %h3.info
    2. Ramówka
  %div.hide
    %p
      Sobota
      %ul
        %li
          Zapisy kończą się o 9:30
        %li
          Pierwsza bitwa 9:45- 13:00
        %li
          Przerwa obiadowa: 13:00-13:45
        %li
          Druga bitwa 13:45- 17:00
        %li
          Trzecia bitwa 17:15- 20:30
    %p
      Niedziela
      %ul
        %li
          Czwarta Bitwa 9:30-12:45
        %li
          Piąta bitwa 13:00- 16:15
    %p
      %span.label.label-important
        Za każde zaczęte 5 minut spóźnienia w oddawaniu wyników obie drużyny dostają -20 pkt. drużynowy. Po 15 minutach wynik nie będzie przyjmowany, a drużyny dostają automatyczne 0:0(+karniaki).
  %h3.info  
    3. Drużyny
  %div.hide
    %p
      Do turnieju dopuszczone są drużyny 5-osobowe.
    %p
      Drużyna może zawierać:
      %br
      Tylko jedną armię danego rodzaju. Różne odmiany marinów (BA, SW itp.) to różne armie.
  %h3.info
    4. Zasady ogólne
  %div.hide
    %p
      Obowiązują zasady 5 ed. Wh40k, z uwzględnieniem aktualnych FAQ'ów ze strony GW oraz PKZ i URP.
      %ul
        %li
          Gramy na stołach 72”x48”.
        %li
          Tereny na stołach ustawiają sędziowie.
        %li
          Gracze przyłapani na ewidentnym oszustwie (nieautoryzowana zmiana terenu, używanie sprzętu nie ujętego w rozpisce, rażące naruszenie zasad gry), otrzymują automatyczną masakrę w bitwie w której oszukiwali. Przyłapanie na oszustwie po raz drugi skutkuje dyskwalifikacją.
        %li
          Awanturowanie się na turnieju grozi dyskwalifikacją.
        %li
          Od decyzji sędziego głównego nie można się odwołać.
    %h5
      Klaryfikacje Terenowe:
    %ul
      %li
        Las: las warszawski czyli 4+ cover dla piechoty itp. w i za lasem, niezależnie od stanu zalesienia. Dla pojazdów i monstrousów cover 5+.
      %li
        Ściany: Wszelkie wolno stojące ściany, ściany opierające się na innych ścianach (pod warunkiem, że niema okien) słupy itp. są impassable (same ściany, teren wokół to area terrain z coverem 4+).
      %li
        Ruinki: Area terrain 4+. Drugie i wyższe piętra są impassable.
      %li
        Bunkropodobne: Całe bunkropodobne tałatajstwo jest impassable, po terenie wokół bunkra można poruszać się normalnie.
      %li
        Rzeka: Difficult i dangerous terrain, wszystko co nie jest pojazdem lub monstrousem ma 5+ covera, gdy siedzi w rzece (i tylko wtedy- siedzenie za rzeką covera nie daje).
      %li
        Górki: Pierwszy poziom = normalny teren, drugi poziom = difficult, trzeci poziom = impassable
      %li
        Wysokie skały: Impassable po obrysie.
      %li
        Płotki (takie <= 1" wysokości) : Trudny teren, cover 5+
  %h3.info
    5. Budowanie armii
  %div.hide
    %h5
      Armie budujemy wg następujących zasad:
    %ul
      %li
        Każdy z graczy może na swoją armię wydać do 1850 pkt.
        Każdy z graczy układa swą rozpiskę wg następującego FOC: 1-2 HQ, 0-3Elite, 2-6 Troops, 0-3 Fast, 0-3 Heavy.
    %h5
      Dopuszczone są:
    %ul
      %li
        wszystkie armie i jednostki oficjalne - czyli kodeksy i ew. artykuły w WD
      %li
        LatD Sztabu
      %li
        0-3 Bohaterów specjalnych na drużynę ( dowolna ilość na armię jednego gracza )
    %h5
      Niedopuszczone są:
    %ul
      %li
        IA

  %h3.info
    6. Zgłoszenia
  %div.hide
    %p.label.label-important
      Zgłoszenia finalne proszę przysyłać w terminie do niedzieli 1 kwietnia g. 23:59 na adres: dmp40k.2012 (at) gmail.com w następującej postaci:
      %ul
        %li
          W tytule wiadomości NAZWA DRUŻYNY(tylko i wyłącznie!)
        %li
          W treści: gracze (imię, ksywka, nazwisko - armia) z wyraźnym zaznaczeniem funkcji kapitana oraz jego nick na forum wh40k.pl i kontaktowy adres e-mail
        %li
          W załączniku: rozpiski wg jedynego słusznego obowiązującego wzoru (1 plik tekstowy nazwany tak jak drużyna), ewent. potwierdzenie przelewu przedpłaty
    %p.label.label-important
      obowiązkiem kapitana jest dopilnowanie aby wszystkie rozpiski drużyny były poprawne oraz w odpowiednim formacie. Jeśli znaleziony zostanie jakikolwiek błąd będzie to skutkowało automatycznym 0pkt za zgłoszenie.   
    %p
      %span.label.label-important
        *Rozpiski poproszę w jednym załączniku .txt o nazwie drużyny. Rozpiski proszę wysyłać w&nbsp;formacie: 
    %p
      Gracz: (Imię, ksywka, nazwisko)
      %br
      %span.label.label-important
        Nazwy jednostek i opcji proszę podawać w języku angielskim!
      %br
      HQ1 : (imię jednostki, wykupione opcje, odnośnik do trasportu dedykowanego) [(suma punktów bez kosztu transportu)pts]
      %br
      Elite1 : (...)
      %br
      Elite2 : (...)
      %br
      Troop 1 : (...)
      %br
      Troop 2 : (...)
      %br
      Troop 3 : (...)
      %br
      Troop 4 : (...)
      %br
      Troop 5 : (...)
      %br
      Troop 6 : (...)
      %br
      FA1: (...)
      %br
      FA2: (...)
      %br
      HS1: (...)
      %br
      HS2: (...)
      %br
      Transport1 : (nazwa, opcje, przypisana jednostka) [(punkty)pts]
      %br
      Transport2 : (analogicznie...)
      %br
      TransportX : (...)
      %br
      %spane.label.label-important
        (proszę nie umieszczać domyślnych opcji!)
      %br
      %br
      TOTAL [(punkty)pts]
      KP: liczba kill ponitów
      Modele: liczba modeli
      %br
      %spane.label.label-important
        Zgłoszenia z inną formą wysłanej rozpiski będą złośliwie ignorowanie i nie punktowane. 
  %h3.info
    7. Wymogi
  %div.hide
    %ul
      %li
        Wszystkie modele muszą być pomalowane.
      %li
        Wszystkie modele muszą być sklejone, odpowiadać wyglądem jednostkom z rozpiski i mieć przedstawione zakupione wyposażenie (WYSIWYG).
      %li
        Każde odstępstwo od WYSIWYGu będzie skutkować usunięciem modelu z rozpiski. Jeśli spowoduje to nielegalność danego oddziału to zostanie on także usunięty. W skrajnych przypadkach może to równać się dyskwalifikacji.
      %li
        Każdy zawodnik zobowiązany jest posiadać swoją armię, kostki, miarkę calową, wzorniki, czytelną rozpiskę i zasady swojej armii.

  %h3.info
    8. Punktacja
  %div.hide
    %h5
      A) PUNKTACJA OGÓLNA
    %ul
      %li.label.label-important
        + 20 D.pkt dla drużyny za przesłanie ważnego zgłoszenia do 31.03.2012 godz. 23:59.
      %li.label.label-important
        + 20 D. pkt za przesłanie przedpłaty do XXX
    %p
      Duże punkty z punktacji ogólnej będą doliczane do wyniku drużyny po rozegraniu wszystkich bitew.
    %h5
      B) BITWY
    %p
      Punktacja:
      %br
      10:10 - 0-320
      %br
      11:9 - 321-640
      %br
      12:8 - 641-960
      %br
      13:7 - 961-1280
      %br
      14:6 - 1281-1600
      %br
      15:5 - 1601-1920
      %br
      16:4 - 1921-2240
      %br
      17:3 - 2241-2560
      %br
      18:2 - 2561-2880
      %br
      19:1 - 2881-3200
      %br
      20:0 - 3201+
    %p
      Na koniec bitwy gracz, który zdobył więcej Kill Pointów dolicza sobie VP w zależności od różnicy w ilości zdobytych KP:
      %br
      1 KP różnicy - +100 vp
      %br
      2 KP różnicy - +200 vp
      %br
      3 KP różnicy - +300 vp
      %br
      4 lub więcej KP różnicy - +400vp
    %p
      Za bitwę oddaną przez przeciwnika walkowerem, gracz otrzymuje 17DP pkt. Walkower będzie przyjęty tylko po zapoznaniu się z sytuacją przez sędziego głównego.
    %h3.label.label-info
      C) MECZE (drużynowo)
    %p.label.label-info
      %br
      0-20 VP z gry na gracza
      %br
      35-65 Battle-Points na drużynę
      %br
      Drużyna, która w danej rundzie uzyskała więcej niż 64 punkty z bitew otrzymuje 65 MP. Drużyna, która zdobyła mniej niż 36 punktów otrzymuje 35 MP. Pozostałe drużyny otrzymują ilość MP równą liczbie zdobytych DP w danej rundzie. Ranking ustalany jest na podstawie najpierw sumy MP, następnie sumy DP.
    %p
      W przypadku nieparzystej liczby drużyn, drużyna pauzująca dostaje 57 MP.
    %p
      W przypadku równej liczby MP, o końcowym miejscu zadecyduje liczba DP zdobytych przez drużyny. W przypadku dalszego remisu, decydujący będzie wynik meczu między drużynami. Jeśli takiego meczu nie było lub zakończył się remisem, przyznane zostanie miejsce egzequo.
  %h3.info
    9. Bitwy
  %div.hide
    %h5
      A) Drużyny w I bitwie będą dobrane losowo, do kolejnych systemem „szwajcarskim”.
    %br
    %h5.label.label-info
      B) PAROWANIE
    %p.label.label-info
      a) Doboru przeciwników w meczu dokonują samodzielnie, bez udziału pozostałych graczy kapitanowie drużyn.
      %br
      b) Kapitanowie wykonują rzut k6. Zwycięzca decyduje, czy chce pierwszy wystawiać (A) lub dobierać (B).
      %br
      c) Kapitan A wystawia swojego pierwszego gracza.
      %br
      d) Kapitan B wybiera mu przeciwnika.
      %br
      e) Gracz A wybiera sobie stół.
      %br
      f) Kapitan B wystawia swojego pierwszego gracza.
      %br
      g) Kapitan A wybiera mu przeciwnika.
      %br
      h) Gracz B wybiera sobie stół.
      %br
      i) Kroki powtarzamy, aż wszyscy gracze zostaną sparowani
    %h5
      C) Misje
    %p
      %h5
        Bitwa Pierwsza: Ćwiartki
      Strefy Wystawienia: Spearhead
      %br
      Czas Gry: 6 tur
      %br
      Cel misji: 4 znaczników wystawionych na środku ćwiartek plus jedne znacznik wystawiony na środku stołu.
      %br
      Znaczniki warte odpowiednio: Środkowy, wrogi 650, Boczne 350, Własny 200
    %p
      %h5
        Bitwa Druga: Recon
      Strefy Wystawienia: Pitched Battle
      %br
      Czas Gry: 6 tur
      %br
      Cel misji: 6 znaczników. Po trzy dla każdego gracza, boczne znaczniki zawsze muszą leżeć nie mniej i nie więcej niż 6" od własnej długiej oraz 12" od krótkiej krawędzi. Środkowy znacznik musi znajdować się 6" od własnej długiej oraz 36" od krótkich krawędzi.
      %br
      Znaczniki przy długiej krawędzi przeciwnika warte 600 vp każdy. Znaczniki przy własnej długiej krawędzi warte 300 każdy.
      %br
      =image_tag("/assets/miszun1.jpg")
    %p
      %h5
        Bitwa Trecia: Anihilacja
      Rozstawienie: Cleanse II (po przekątnej, 18’ od górnej i bocznej krawędzi)
      %br
      Czas Gry: 6 tur
      %br
      Cel podstawowy: eliminacja przeciwnika.
      Warunki zwycięstwa: VP za zniszczone i/lub społowione jednostki przeciwnika liczą się podwójnie.
      %br
      Cel dodatkowy: na środku stołu umieszczony jest znacznik. Gracze, którzy go kontrolują (w 3’) otrzymują 400 VP.
      %br
      =image_tag("/assets/trojkaty.png")
    %p
      %h5
        Bitwa Czwarta: Take’N’Hold
      Strefy Wystawienia: Dawn of War
      %br
      Czas Gry: 7 tur
      %br
      Cel misji: 3 znaczniki przez środek stołu, jeden na środku, pozostałe 24” od niego i 24" od długich krawędzi. Znacznik na środku stołu warty 1100 pkt, boczne po 550.
      %br
      =image_tag("/assets/miszun3.jpg")
    %p
      %h5
        Bitwa Piąta: Sieze Ground II
      Strefy Wystawienia: Pitched Battle
      %br
      Czas Gry: 6 tur
      %br
      Cel misji: Sieze ground na 5 znaczników. Każdy znacznik wart 450vp
  %h3.info
    10. Płatność
  %div.hide
    %h5
      Dane do przelewu:
      %br
      PL04 1140 2004 0000 3302 1466 6091
      %br
      Milosz Dziembowski
      %br
      Ul. Benislawskiego 25c/8
      %br
      Gdynia 81-173  

:javascript
  $(document).ready(function(){
    $('.info').click(function(){
      $(this).next().slideToggle('slow');
    });
  
  });
