%h3
  Regulamin
.body
  %h4  
    Informacje ogólne
  %p
    Miejscówka: Mediateka, ul. Szegedyńska 13A
    Wejściówka: 225pln team (45 pln od osoby)
    Termin: 21-22.04.2012
    Limit drużyn: 30
    a) 25 teamow z polski
    b) 5 teamow zzagranicy
    Zapisy beda na podstawie kolejnosci zgloszen i wplacie przedplaty do 31.03.2012 Po tym terminie podzial 25/5 przestaja obowiązywać i kolejne teamy wchodza z listy rezerwowej.
    Przedplata: 75pln za team – bezzwrotna po 31.03.2012
  %p
    Sędzią głównym turnieju jest: Do dogadania
    Sędziami liniowym turnieju są: MarcinB, Czajnik, Wilku
    Gramy 5 bitew na 1850 pt
    Czas jednej gry: 3:15 nd
  %h4
    2. Ramówka
  %p
    Sobota
    %ul
      %li
        Zapisy kończą się o 9:30
      %li
        Pierwsza bitwa 9:45- 13:00
      %li
        Przerwa obiadowa: 13:00-13:45
      %li
        Druga bitwa 13:45- 17:00
      %li
        Trzecia bitwa 17:15- 20:30
  %p
    Niedziela
    %ul
      %li
        Czwarta Bitwa 9:30-12:45
      %li
        Piąta bitwa 13:00- 16:15
  %p
    Za każde zaczęte 5 minut spóźnienia w oddawaniu wyników obie drużyny dostają -1 pkt. drużynowy. Po 15 minutach wynik nie będzie przyjmowany, a drużyny dostają automatyczne 0:0.
  %h4  
    3. Drużyny
  %p
    Do turnieju dopuszczone są drużyny 5-osobowe.
  %p
    Drużyna może zawierać:
    %br
    Tylko jedną armię danego rodzaju. Różne odmiany marinów (BA, SW itp.) to różne armie.
  %h4
    4. Zasady ogólne
  %p
    Obowiązują zasady 5 ed. Wh40k, z uwzględnieniem aktualnych FAQ'ów ze strony GW oraz PKZ i URP.
    %ul
      %li
        Gramy na stołach 72”x48”.
      %li
        Tereny na stołach ustawiają sędziowie.
      %li
        Gracze przyłapani na ewidentnym oszustwie (nieautoryzowana zmiana terenu, używanie sprzętu nie ujętego w rozpisce, rażące naruszenie zasad gry), otrzymują automatyczną masakrę w bitwie w której oszukiwali. Przyłapanie na oszustwie po raz drugi skutkuje dyskwalifikacją.
      %li
        Awanturowanie się na turnieju grozi dyskwalifikacją.
      %li
        Od decyzji sędziego głównego nie można się odwołać.
  %h5
    Klaryfikacje Terenowe:
  %ul
    %li
      Las: las warszawski czyli 4+ cover dla piechoty itp. w i za lasem, niezależnie od stanu zalesienia. Dla pojazdów i monstrousów cover 5+.
    %li
      Ściany: Wszelkie wolno stojące ściany, ściany opierające się na innych ścianach (pod warunkiem, że niema okien) słupy itp. są impassable (same ściany, teren wokół to area terrain z coverem 4+).
    %li
      Ruinki: Area terrain 4+. Drugie i wyższe piętra są impassable.
    %li
      Bunkropodobne: Całe bunkropodobne tałatajstwo jest impassable, po terenie wokół bunkra można poruszać się normalnie.
    %li
      Rzeka: Difficult i dangerous terrain, wszystko co nie jest pojazdem lub monstrousem ma 5+ covera, gdy siedzi w rzece (i tylko wtedy- siedzenie za rzeką covera nie daje).
    %li
      Górki: Pierwszy poziom = normalny teren, drugi poziom = difficult, trzeci poziom = impassable
    %li
      Wysokie skały: Impassable po obrysie.
    %li
      Płotki (takie <= 1” wysokości) : Trudny teren, cover 5+
  %h4
    5. Budowanie armii
  %h5
    Armie budujemy wg następujących zasad:
  %ul
    %li
      Każdy z graczy może na swoją armię wydać do 1850 pkt.
      Każdy z graczy układa swą rozpiskę wg następującego FOC: 1-2 HQ, 0-3Elite, 2-6 Troops, 0-3 Fast, 0-3 Heavy.
  %h5
    Dopuszczone są:
  %ul
    %li
      wszystkie armie i jednostki oficjalne - czyli kodeksy i ew. artykuły w WD
    %li
      LatD Sztabu
    %li
      0-3 Bohaterów specjalnych na drużynę
  %h5
    Niedopuszczone są:
  %ul
    %li
      Sojusznicy (za wyjątkiem IIG, ASM oraz chłopaków w LatD)
    %li
      IA

  %h4
    6. Zgłoszenia
  %p
    Zgłoszenia finalne( nazwa drużyny, kapitan, gracze oraz rozpiski ) proszę przysyłać na adres: dmp40k.2012 (at) gmail.com
  %p
    Rozpiski zostaną opublikowane na …... Do 08.04.2012 można poprawić ewentualne błędy bez straty punktów za zgłoszenie.
  %p
    %span.label.label-important
      *Rozpiski poproszę w jednym załączniku .txt o nazwie drużyny. Rozpiski proszę wysyłać w formacie 
  %p
    Gracz: (Imię, ksywka, nazwisko)
    %br
    Nazwy jednostek i opcji proszę podawać w języku angielskim!
    %br
    HQ1 : (imię jednostki, wykupione opcje, odnośnik do trasportu dedykowanego) [(suma punktów bez kosztu transportu)pts]
    %br
    Elite1 : (...)
    %br
    Elite2 : (...)
    %br
    Troop 1 : (...)
    %br
    Troop 2 : (...)
    %br
    Troop 3 : (...)
    %br
    Troop 4 : (...)
    %br
    Troop 5 : (...)
    %br
    Troop 6 : (...)
    %br
    FA1: (...)
    %br
    FA2: (...)
    %br
    HS1: (...)
    %br
    HS2: (...)
    %br
    Transport1 : (nazwa, opcje, przypisana jednostka) [(punkty)pts]
    %br
    Transport2 : (analogicznie...)
    %br
    TransportX : (...)
    %br
    %spane.label.label-important
      (proszę nie umieszczać domyślnych opcji!)
    %br
    %br
    TOTAL [(punkty)pts]
    KP: liczba kill ponitów
    Modele: liczba modeli
    %br
    %spane.label.label-important
      Zgłoszenia z inną formą wysłanej rozpiski będą złośliwie ignorowanie i nie punktowane. 

