%tr
  %th
    =reg.team.name
  %th
    =reg.team.city
  %th
    =reg.team.country
  %th
    =reg.payment? ? "tak" : "nie"
  %th
    =reg.rosters? ? "tak" : "nie"
  %th
    =reg.rosters_valid? ? "tak" : "nie"
  %th
    =link_to 'Edytuj', edit_team_path(reg.team)
