%h3
  Noclegi
.body
  %h4
    Hostel
  %p
    Koszt: 40zł od osoby
    %br
    ul. Improwizacji 7
    %br
    01-992 Warszawa
    %br
    www.warszawanoclegi.com
  %p
    Jesli ktos/team chce miejsce to prosze o przelew do 31.03.2012 
    %br
    %span.label.label-important
      w temacie z dopiskiem - Nocleg i nazwiska osob na ktore jest rezerwacja
    %br
    Dane do przelewu:
    %br
    PL04 1140 2004 0000 3302 1466 6091
    %br
    Miłosz Dziembowski
    %br
    Ul Benisławskiego 25c/8

%p
  Lista rezerwacji

%table.table.table-bordered
  %thead
    %tr
      %th
        Lp.
      %th
        Imie
      %th
        Nazwisko
      %th
        Email
      %th
        Przedpłata
      -if logged_in?
        %th 
          Akcja
  %tbody
    -@bookings.each_with_index do |booking, i|
      =render :partial => 'booking', :locals => {:booking => booking, :i => i}

-if logged_in?
  =render :partial => 'hostel_bookings/form'
