
body{
  color: #CECECE;
  padding-top: 48px;
  padding-bottom: 48px;
}


.row.header{
  height: 300px;
  background: url(logo2.png) no-repeat center;
  width: 1024px;
  margin: auto;
  border-bottom: 1px solid #333;
  margin-bottom: 20px
}

.row.header--arena{
  @extend .row.header;
  background: url(logo_arena.jpg) no-repeat center;
} 

h3.info{
  cursor: pointer;
}

.hide{ display: none }

.banner{
  a{
    &:hover{
      background-color: transparent;
    }
  }
}

.modal{
  &.big{  
    max-height: 800px;
    img{
      max-width: 1280px;
      max-height: 800px;
    }
  }
}
