@import "twitter/bootstrap";

body{
  color: #CECECE;
  padding-top: 48px;
}


.row.header{
  height: 300px;
  background: url(logo.png) no-repeat center;
  width: 1024px;
  margin: auto;
  border-bottom: 1px solid #333;
  margin-bottom: 20px
}

h3.info{
  cursor: pointer;
}

.hide{ display: none }

.banner{
  a{
    &:hover{
      background-color: transparent;
    }
  }
}
