.players-list{
  width: 50%;
  float: left;
  .player-army{
  }
  button{
    float: right;
  }
}

.container-fluid{
  &.play{
    width: 1024px;
    margin: auto;
  }
}

.play-tournament{
  float: left;
  width: 40%;
  margin-top: 18px;
  margin-left: 20px;
}

.play-tabs{
  width: 1024px;
  margin: auto;
}
