.players-list{
  width: 100%;
  float: left;
  .player-army{
  }
  button{
    float: right;
  }
}

.modal{
  width: 700px;
  &.results{
    width: 350px;
    padding-top: 20px;
    form{
      position: relative;
      width: 215px;
      margin-top: 20px;
      margin: auto;
    }
  }
}

.container-fluid{
  &.play{
    width: 1024px;
    margin: auto;
  }
}


.play-tournament{
  float: left;
  margin-top: 18px;
}

.play-tabs{
  width: 1024px;
  margin: auto;
}

.left-column{
  width: 50%;
  float: left;
}

.right-column{
  width: 47%;
  float: right;
}

.pairings-list{
  clear: both;
  td.table_nr{
    text-align: center;
    vertical-align: middle;
  }
  td.players{
    padding: 0px;
  }
  div.player{
    padding: 5px;
    text-align: center;
    &:first-child{
      border-bottom: solid 1px #dddddd;
    }
  }
  div.add-results{
    border-top: solid 1px #dddddd;
  }
  td.table_nr{
    padding: 0px;
    div{
      padding: 5px;
      text-align: center;
    }
  }
  .completed{
    background-color: green;
  }
}

.add-extra-points{
  margin-left: 20px;
}

.ui-widget-header.player{
 background-color: #8f8f8f;
 color: #000;
 border-radius: 8px;
 opacity: 0.8;
 position: fixed; 
}

.draggable{
  border-radius: 5px;
  display: block;
  -webkit-transition: background-color .5s linear;
  -moz-transition: background-color .5s linear;
  &.draggable-hover{
    background-color: blue;
  }
}


form#update_pairing{

  .game-points{
    float:left;
    clear:both;
  }

  .match-points{
    float:right;
  }
  
  .submit{
    clear: both
  }
  .errors{
    color: red;
  }
}

#global-feedback{
  display: none;
  width: 140px;
  height: 60px;
  position: fixed;
  z-index: 2001;
  top: 50%;
  left: 50%;
  margin-left: -61px;
  margin-top: -61px;
  background: #333;
  border: 1px solid #8c8c8c;
  border-radius: 6px;
  img{
    position: absolute;
    top: 7px;
    left: 6px;
  }
  span.text{
    display: block;
    text-align: center;
    width: 180px;
    position: absolute;
    bottom: 16px;
    line-height: 1.3em;
  }
}
