// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.body{
  text-align: justify;
}

.post{
  border-bottom: 1px solid #333;
  margin-bottom: 40px;
  padding-bottom: 20px;
}

input{}
