%table.table.table-bordered.tablesorter
  %thead
    %tr
      %th
        Lp.
      %th
        =@tournament.for_teams? ? 'Drużyna' : 'Gracz'  
      %th
        Miasto
      - unless @tournament.for_teams?
        %th
          Armia
      %th
        Przedpłata
      %th
        Rozpiska
      %th
        Rozpiska poprawne?
      -if logged_in?
        %th 
          Akcja
  %tbody
    -@registrations.each_with_index do |reg, i|
      =render :partial => @tournament.for_teams? ? 'team_registration' : 'registration', :locals => {:reg => reg, :i => i}
-if owner_or_admin? #&& @tournament.new? 
  -if @tournament.for_teams
    =render :partial => 'team_form'
  -else
    =render :partial => 'form'
:javascript
  $(document).ready(function() 
    { 
      $(".tablesorter").tablesorter(); 
    } 
  ); 
