%table.table.table-bordered.tablesorter
  %thead
    %tr
      %th
        Lp.
      %th
        Gracz  
      %th
        Miasto
      %th
        Armia
      %th
        Przedpłata
      %th
        Rozpiska
      %th
        Rozpiska poprawne?
      -if logged_in?
        %th 
          Akcja
  %tbody
    -@registrations.each_with_index do |reg, i|
      =render :partial => 'registration', :locals => {:reg => reg, :i => i}
-if logged_in?
  =render :partial => 'form'
:javascript
  $(document).ready(function() 
    { 
      $(".tablesorter").tablesorter(); 
    } 
  ); 
