<!DOCTYPE html>
%html
%head
  %title
  =stylesheet_link_tag "application"
  =javascript_include_tag "application"
  =csrf_meta_tags

%body
  .navbar.navbar-fixed-top
    .navbar-inner
      .container
        .nav-colapse
          %ul.nav
            %li
              =link_to "Gracze", admin_players_path
          %ul.nav.pull-right
            %li
              =link_to current_user.username, ""
            %li
              =link_to 'Wyloguj', logout_path

.container-fluid
  .row{:style => "width:1024px;margin:auto"}
    .span10
      - flash.each do |name, msg|
        = content_tag :div, msg, :id => "flash_#{name}"

      = yield 
/   .span2
/      .banner
/        %h2
/          Sponsorzy
/        %p
/          =link_to image_tag("PuppetsWar.jpg"), "http://puppetswar.com"
/        %p
/          =link_to image_tag("bitspudlo.png"), "http://bitsbox.eu"
/        %p
/          =link_to image_tag("MaxMini.jpg"), "http://maxmini.eu"
/        %p
/          =link_to image_tag("MicroArt.png"), "http://microartstudio.com"
/        %p
/          =link_to image_tag("warfaber.png"), "http://warfaber.pl"
/        %p
/          =link_to image_tag("mediateka.png"), "http://mediateka.waw.pl" 
