<!DOCTYPE html>
%html
%head
  %title
  =stylesheet_link_tag "application"
  =javascript_include_tag "application"
  =csrf_meta_tags

%body
  .navbar.navbar-fixed-top
    .navbar-inner
      .container
        .nav-colapse
          %ul.nav
            %li
              =link_to 'Blog', "/"
            %li
              =link_to 'Regulamin', rules_path
            %li
              =link_to 'Konkurs malarski', contest_path
            %li
              =link_to 'Zgłoszenia', team_registrations_path
            %li
              =link_to 'Noclegi', hostel_bookings_path
          %ul.nav.pull-right
            -if logged_in?
              %li
                =link_to current_user.username, ""
              %li
                =link_to 'Wyloguj', logout_path
            -else
              %li
                =link_to 'Zaloguj', login_path

.container-fluid
  .row.header
  .row{:style => "width:1024px;margin:auto"}
    .span2
      =render :partial => "shared/fb"
    .span6
      - flash.each do |name, msg|
        = content_tag :div, msg, :id => "flash_#{name}"

      = yield 
    .span2
      Wkrótce coś tu będzie
      -if logged_in? 
        = link_to "Dodaj post", new_post_path, :class => 'btn'
