<!DOCTYPE html>
%html
%head
  %title
  =stylesheet_link_tag "application"
  =javascript_include_tag "application"
  =csrf_meta_tags

%body
  .navbar.navbar-fixed-top
    .navbar-inner
      .container
        .nav-colapse
          %ul.nav.pull-right
            %li
              =link_to "Wszystkie turnieje", tournaments_path
            -if logged_in?
              -if current_user.admin? 
                %li
                  =link_to 'Panel admina', '/admin'
              %li
                =link_to current_user.username, ""
              %li
                =link_to 'Wyloguj', logout_path
            -else
              %li
                =link_to 'Zaloguj', login_path
              %li
                =link_to 'Zarejestruj', signup_path

  .container-fluid
    .row.header
    .row{:style => "width:1024px;margin:auto"}
      .span2
        %ul.nav.nav-tabs.nav-stacked
          %li
            =link_to 'Wszyscy gracze', rank_root_path
          %li
            =link_to 'Top 10' , '#'
          %li
            =link_to 'Turnieje', '#'

      .span6
        - flash.each do |name, msg|
          = content_tag :div, msg, :id => "flash_#{name}"

        = yield 
  /   .span2
  /      .banner
  /        %h2
  /          Sponsorzy
  /        %p
  /          =link_to image_tag("PuppetsWar.jpg"), "http://puppetswar.com"
  /        %p
  /          =link_to image_tag("bitspudlo.png"), "http://bitsbox.eu"
  /        %p
  /          =link_to image_tag("MaxMini.jpg"), "http://maxmini.eu"
  /        %p
  /          =link_to image_tag("MicroArt.png"), "http://microartstudio.com"
  /        %p
  /          =link_to image_tag("warfaber.png"), "http://warfaber.pl"
  /        %p
  /          =link_to image_tag("mediateka.png"), "http://mediateka.waw.pl"
  .navbar.navbar-fixed-bottom
    .navbar-inner.footer
      Copyright 2013 Krzysztof 'Zły' Białek, powered by Rails & Heroku  
